**/ITHACAoutput
**/ITHACAoutput*
Working_examples
*.o
*.so
*.exe
**/linux**
**/processor*
**/linux*
**/Offline
**/processor*
*.pdf
*.cnpy
*.png
*.dep
*.orig
examples
tutorials_dev
**/StreamTest
**/UtilitiesTest
*~
*.foam
**/__pycache__

*.json

tutorials/CFD/00burgers/0/

tutorials/CFD/00burgers/constant/polyMesh/
