**/ITHACAoutput
**/ITHACAoutput*
Working_examples
*.o
*.so
*.exe
**/linux**
**/processor*
**/linux*
**/Offline
**/processor*
*.pdf
*.cnpy
*.png
*.dep
*.orig
examples
tutorials_dev
**/StreamTest
**/UtilitiesTest
*~
*.foam
**/__pycache__

*.json

tutorials/CFD/00burgers/0/

tutorials/CFD/00burgers/constant/polyMesh/

tutorials/CFD/00burgers/0.*

tutorials/CFD/00burgers/nonIntrusiveCoeff.npy

tutorials/CFD/00burgers/npSnapshots.npy

tutorials/CFD/00burgers/parTest.npy

tutorials/CFD/00burgers/parTrain.npy

tutorials/CFD/00burgers/1.*

tutorials/CFD/00burgers/TEST/*

tutorials/CFD/00burgers/TRAIN/*

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/__pycache__/convae.cpython-38.pyc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/errL2UconvAeNonIntrusive.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model.ckpt

tutorials/CFD/00burgers/npTrueSnapshots.npy

tutorials/CFD/00burgers/snapshotsReconstructedConvAe.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/errL2UconvAeProjection.npy

tutorials/CFD/00burgers/npInitialAndModes.npy

tutorials/CFD/00burgers/snapshotsConvAeTrueProjection.npy

src/ITHACA_ROMPROBLEMS/NonlinearReducedBurgers/Make/options_reduced

src/ITHACA_ROMPROBLEMS/NonlinearReducedBurgers/Make/options_rom

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model.pt

tutorials/CFD/00burgers/Autoencoders/Shallow/__pycache__/convae.cpython-38.pyc

tutorials/CFD/00burgers/NNdata.txt

tutorials/CFD/00burgers/REF/0

tutorials/CFD/00burgers/REF/1/g0

tutorials/CFD/00burgers/REF/2/g0

tutorials/CFD/00burgers/REF/constant

tutorials/CFD/00burgers/REF/system

src/ITHACA_ROMPROBLEMS/NonlinearReducedBurgers/log

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/__pycache__/clock.cpython-38.pyc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial.npy

tutorials/CFD/00burgers/G/0

tutorials/CFD/00burgers/G/1/g_10

tutorials/CFD/00burgers/G/1/g_11

tutorials/CFD/00burgers/G/1/g_12

tutorials/CFD/00burgers/G/1/g_13

tutorials/CFD/00burgers/G/1/g_14

tutorials/CFD/00burgers/G/1/g_15

tutorials/CFD/00burgers/G/1/g_16

tutorials/CFD/00burgers/G/1/g_17

tutorials/CFD/00burgers/G/1/g_18

tutorials/CFD/00burgers/G/1/g_19

tutorials/CFD/00burgers/G/1/g_20

tutorials/CFD/00burgers/G/1/g_21

tutorials/CFD/00burgers/G/1/g_22

tutorials/CFD/00burgers/G/1/g_23

tutorials/CFD/00burgers/G/1/g_24

tutorials/CFD/00burgers/G/1/g_25

tutorials/CFD/00burgers/G/1/g_26

tutorials/CFD/00burgers/G/1/g_27

tutorials/CFD/00burgers/G/1/g_28

tutorials/CFD/00burgers/G/1/g_29

tutorials/CFD/00burgers/G/1/g_30

tutorials/CFD/00burgers/G/1/g_31

tutorials/CFD/00burgers/G/1/g_32

tutorials/CFD/00burgers/G/1/g_33

tutorials/CFD/00burgers/G/1/g_34

tutorials/CFD/00burgers/G/1/g_35

tutorials/CFD/00burgers/G/1/g_36

tutorials/CFD/00burgers/G/1/g_37

tutorials/CFD/00burgers/G/1/g_38

tutorials/CFD/00burgers/G/1/g_39

tutorials/CFD/00burgers/G/1/g_40

tutorials/CFD/00burgers/G/1/g_41

tutorials/CFD/00burgers/G/1/g_42

tutorials/CFD/00burgers/G/1/g_43

tutorials/CFD/00burgers/G/1/g_44

tutorials/CFD/00burgers/G/1/g_45

tutorials/CFD/00burgers/G/1/g_46

tutorials/CFD/00burgers/G/1/g_47

tutorials/CFD/00burgers/G/1/g_48

tutorials/CFD/00burgers/G/1/g_49

tutorials/CFD/00burgers/G/1/g_5

tutorials/CFD/00burgers/G/1/g_50

tutorials/CFD/00burgers/G/1/g_51

tutorials/CFD/00burgers/G/1/g_52

tutorials/CFD/00burgers/G/1/g_53

tutorials/CFD/00burgers/G/1/g_54

tutorials/CFD/00burgers/G/1/g_55

tutorials/CFD/00burgers/G/1/g_56

tutorials/CFD/00burgers/G/1/g_57

tutorials/CFD/00burgers/G/1/g_6

tutorials/CFD/00burgers/G/1/g_7

tutorials/CFD/00burgers/G/1/g_8

tutorials/CFD/00burgers/G/1/g_9

tutorials/CFD/00burgers/G/constant

tutorials/CFD/00burgers/G/system

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_gpu.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/cmake_install.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeCache.txt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeCCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeSystem.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdC/a.out

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/a.out

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/cmake.check_cache

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/CMakeDirectoryInformation.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/CMakeError.log

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/CMakeOutput.log

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/Makefile.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/Makefile2

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/progress.marks

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/TargetDirectories.txt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/build.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/cmake_clean.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/CXX.includecache

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/depend.internal

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/depend.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/DependInfo.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/flags.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/link.txt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/progress.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/Makefile

tutorials/CFD/00burgers/NonIntrusive/nonIntrusiveCoeff.npy

tutorials/CFD/00burgers/NonIntrusive/model.ckpt

tutorials/CFD/00burgers/Autoencoders/Shallow/convae.py

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/cmake_install.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeCache.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeCCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeSystem.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdC/a.out

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/a.out

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/cmake.check_cache

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/CMakeDirectoryInformation.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/CMakeError.log

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/CMakeOutput.log

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Makefile.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Makefile2

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/progress.marks

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Progress/1

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Progress/count.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/TargetDirectories.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/build.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/cmake_clean.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/CXX.includecache

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/depend.internal

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/depend.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/DependInfo.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/flags.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/link.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/progress.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/detect_cuda_compute_capabilities.cpp

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/detect_cuda_version.cc

tutorials/CFD/00burgers/Autoencoders/VAE/__pycache__/clock.cpython-37.pyc

tutorials/CFD/00burgers/Autoencoders/VAE/__pycache__/vae.cpython-37.pyc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/detect_cuda_compute_capabilities.cpp

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/detect_cuda_version.cc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/train

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/lstm.ckpt

tutorials/CFD/00burgers/00burgers_10tr_FVMdiff.C

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/checkpoint/checkpoint.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/data/last_decoder_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/data/last_model.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_8.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_gpu_8.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/last_decoder_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial_4.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial_8.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/net.hpp

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/lstm_4.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model_4.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model_8.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model/best_model.pt

tutorials/CFD/00burgers/jacobian.npy

tutorials/CFD/00burgers/logs/logNonlinear

tutorials/CFD/00burgers/logs/logTest

tutorials/CFD/00burgers/logs/logTrain

tutorials/CFD/00burgers/snapshotsReconstructedConvAeOF.npy

tutorials/CFD/00burgers/x.npy
