**/ITHACAoutput
**/ITHACAoutput*
Working_examples
*.o
*.so
*.exe
**/linux**
**/processor*
**/linux*
**/Offline
**/processor*
*.pdf
*.cnpy
*.png
*.dep
*.orig
examples
tutorials_dev
**/StreamTest
**/UtilitiesTest
*~
*.foam
**/__pycache__

*.json

tutorials/CFD/00burgers/0/

tutorials/CFD/00burgers/constant/polyMesh/

tutorials/CFD/00burgers/0.*

tutorials/CFD/00burgers/nonIntrusiveCoeff.npy

tutorials/CFD/00burgers/npSnapshots.npy

tutorials/CFD/00burgers/parTest.npy

tutorials/CFD/00burgers/parTrain.npy

tutorials/CFD/00burgers/1.*

tutorials/CFD/00burgers/TEST/*

tutorials/CFD/00burgers/TRAIN/*

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/__pycache__/convae.cpython-38.pyc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/errL2UconvAeNonIntrusive.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model.ckpt

tutorials/CFD/00burgers/npTrueSnapshots.npy

tutorials/CFD/00burgers/snapshotsReconstructedConvAe.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/errL2UconvAeProjection.npy

tutorials/CFD/00burgers/npInitialAndModes.npy

tutorials/CFD/00burgers/snapshotsConvAeTrueProjection.npy

src/ITHACA_ROMPROBLEMS/NonlinearReducedBurgers/Make/options_reduced

src/ITHACA_ROMPROBLEMS/NonlinearReducedBurgers/Make/options_rom

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model.pt

tutorials/CFD/00burgers/Autoencoders/Shallow/__pycache__/convae.cpython-38.pyc

tutorials/CFD/00burgers/NNdata.txt

tutorials/CFD/00burgers/REF/0

tutorials/CFD/00burgers/REF/1/g0

tutorials/CFD/00burgers/REF/2/g0

tutorials/CFD/00burgers/REF/constant

tutorials/CFD/00burgers/REF/system

src/ITHACA_ROMPROBLEMS/NonlinearReducedBurgers/log

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/__pycache__/clock.cpython-38.pyc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial.npy


tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_gpu.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/cmake_install.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeCache.txt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeCCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CMakeSystem.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdC/a.out

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/a.out

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/cmake.check_cache

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/CMakeDirectoryInformation.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/CMakeError.log

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/CMakeOutput.log

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/Makefile.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/Makefile2

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/progress.marks

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/TargetDirectories.txt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/build.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/cmake_clean.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/CXX.includecache

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/depend.internal

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/depend.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/DependInfo.cmake

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/flags.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/link.txt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/CMakeFiles/train.dir/progress.make

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/Makefile

tutorials/CFD/00burgers/NonIntrusive/nonIntrusiveCoeff.npy

tutorials/CFD/00burgers/NonIntrusive/model.ckpt

tutorials/CFD/00burgers/Autoencoders/Shallow/convae.py

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/cmake_install.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeCache.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeCCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CMakeSystem.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdC/a.out

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/a.out

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/cmake.check_cache

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/CMakeDirectoryInformation.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/CMakeError.log

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/CMakeOutput.log

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Makefile.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Makefile2

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/progress.marks

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Progress/1

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/Progress/count.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/TargetDirectories.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/build.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/cmake_clean.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/CXX.includecache

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/depend.internal

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/depend.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/DependInfo.cmake

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/flags.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/link.txt

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/CMakeFiles/train.dir/progress.make

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/detect_cuda_compute_capabilities.cpp

tutorials/CFD/00burgers/Autoencoders/Shallow/libtorch/detect_cuda_version.cc

tutorials/CFD/00burgers/Autoencoders/VAE/__pycache__/clock.cpython-37.pyc

tutorials/CFD/00burgers/Autoencoders/VAE/__pycache__/vae.cpython-37.pyc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/detect_cuda_compute_capabilities.cpp

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/detect_cuda_version.cc

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/train

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/lstm.ckpt

tutorials/CFD/00burgers/00burgers_10tr_FVMdiff.C

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/checkpoint/checkpoint.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/data/last_decoder_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/data/last_model.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_8.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/decoder_gpu_8.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/last_decoder_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial_4.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial_8.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/libtorch/net.hpp

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/lstm_4.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model_4.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model_8.ckpt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model/best_model.pt

tutorials/CFD/00burgers/jacobian.npy

tutorials/CFD/00burgers/logs/logNonlinear

tutorials/CFD/00burgers/logs/logTest

tutorials/CFD/00burgers/logs/logTrain

tutorials/CFD/00burgers/snapshotsReconstructedConvAeOF.npy

tutorials/CFD/00burgers/x.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/container.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/latent_initial_4_float64.npy

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model_gpu_4.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model/best_model_no_batch.pt

tutorials/CFD/00burgers/Autoencoders/ConvolutionalAe/model/best_model_till_now.pt

tutorials/CFD/00burgers/fjac_central_5.npy

tutorials/CFD/00burgers/INTR/*

tutorials/CFD/00burgers/logCentral

tutorials/CFD/00burgers/logForward

tutorials/CFD/00burgers/nonIntrusiveCoeffConvAe.npy

tutorials/CFD/00burgers/npTrueSnapshots_framed.npy

tutorials/CFD/00burgers/REFtest/*

tutorials/CFD/00burgers/res.npy

tutorials/CFD/00burgers/RESIDUAL/*


tutorials/CFD/00burgers/system_df.npy

tutorials/CFD/00burgers/torch_grad.npy
